<!DOCTYPE html>
<html>
<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - Notifo</title>

    <link rel="stylesheet" href="@Url.Content("~/app.css")" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap">

    @if (IsSectionDefined("header"))
    {
        @await RenderSectionAsync("header")
    }

    <environment include="Development">
        <script type="text/javascript" src="@Url.Content("~/app.js")"></script>
    </environment>    
</head>
<body>
    <div class="profile @ViewBag.Class">
        <img class="profile-logo" alt="Notifo" src="@Url.Content("~/logo.svg")" />

        <div class="card">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>

        <div class="text-center text-muted copyright mt-2">
            Proudly made by<br />Sebastian Stehle and Contributors, 2021-2022
        </div>
    </div>
</body>
</html>