@page
@inject IHtmlLocalizer<AppResources> T
@model LoginModel

@{
    ViewData["Title"] = T["LoginTitle"];
}

@if (Model!.HasPasswordAuth)
{
    <section>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Email">@T["EmailLabel"]</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="invalid-feedback"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password">@T["PasswordLabel"]</label>
                <input asp-for="Input.Password" type="password" class="form-control" />
                <span asp-validation-for="Input.Password" class="invalid-feedback"></span>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="Input.RememberMe">

                    <label class="custom-control-label" asp-for="Input.RememberMe">@T["RememberMe"]</label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">@T["LoginButton"]</button>
            </div>
        </form>
    </section>
}

@if (Model!.HasPasswordAuth && Model?.ExternalLogins?.Count > 0)
{
    <div class="login-separator">
        <span>@T["ExternalSeperator"]</span>
    </div>
}

@if (Model?.ExternalLogins?.Count > 0)
{
    <section>
        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        var lowerName = provider.DisplayName!.ToLowerInvariant();

                        <button type="submit" class="btn btn-block btn-social btn-dark btn-@lowerName" name="provider" value="@provider.Name">
                            <i class="fab fa-@lowerName"></i> @T[$"LoginWith{provider.DisplayName}"]
                        </button>
                    }
                </p>
            </div>
        </form>
    </section>
}
