@page
@inject IHtmlLocalizer<AppResources> T
@model ProfileModel


@{
    ViewBag.Title = T["UsersProfileTitle"];
}

<h1>@T["UsersProfileHeadline"]</h1>

<h2>@T["UsersProfilePii"]</h2>

@if (!string.IsNullOrWhiteSpace(Model.StatusMessage))
{
    <div class="alert alert-success" id="success">
        @Model.StatusMessage
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<form method="post">
    <div class="form-group">
        @if (Model.ChangeForm.IsActive)
        {
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        }

        <label asp-for="ChangeForm.Email" for="email">@T["EmailLabel"]</label>

        <div error-for="ChangeForm.Email" />
        <input asp-for="ChangeForm.Email" type="email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">@T["CommonSave"]</button>
</form>

@if (Model.ExternalProviders.Any())
{
    <hr />

    <div>
        <h2>@T["UsersProfileLoginsTitle"]</h2>

        <table class="table table-fixed table-lesspadding">
            <colgroup>
                <col style="width: 100px;" />
                <col style="width: 100%;" />
                <col style="width: 100px;" />
            </colgroup>
            @foreach (var login in Model.ExternalLogins)
            {
                <tr>
                    <td>
                        <span>@login.LoginProvider</span>
                    </td>
                    <td>
                        <span class="truncate">@login.ProviderDisplayName</span>
                    </td>
                    <td class="text-right">
                        @if (Model.ExternalLogins.Count > 1 || Model.HasPassword)
                        {
                            <form asp-page-handler="RemoveLogin" method="post">
                                <input asp-for="RemoveLoginForm.LoginProvider" type="hidden" value="@login.LoginProvider"/>
                                <input asp-for="RemoveLoginForm.ProviderKey" type="hidden" value="@login.ProviderKey" />

                                <button type="submit" class="btn btn-danger btn-sm">
                                    @T["CommonRemove"]
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </table>

        <form asp-page-handler="AddLogin" method="post">
            @foreach (var provider in Model.ExternalProviders.Where(x => Model.ExternalLogins.All(y => x.Name != y.LoginProvider)))
            {
                var lowerName = provider.Name.ToLowerInvariant();

                <button type="submit"  class="btn btn-social btn-dark btn-@lowerName"name="provider" value="@provider.Name">
                    @provider.DisplayName
                </button>
            }
        </form>
    </div>
}

@if (Model.HasPasswordAuth)
{
    <hr />

    <div>
        <h2>@T["UsersProfilePasswordTitle"]</h2>

        @if (Model.HasPassword)
        {
            <form class="profile-form" asp-page-handler="ChangePassword" method="post">
                @if (Model.ChangePasswordForm.IsActive)
                {
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                }

                <div class="form-group">
                    <label asp-for="ChangePasswordForm.OldPassword" for="oldPassword">@T["OldPasswordLabel"]</label>

                    <div error-for="ChangePasswordModel.OldPassword" />
                    <input asp-for="ChangePasswordForm.OldPassword" type="password" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="ChangePasswordForm.Password" for="password">@T["PasswordLabel"]</label>

                    <div error-for="ChangePasswordForm.Password" />
                    <input asp-for="ChangePasswordForm.Password" type="password" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="ChangePasswordForm.PasswordConfirm" for="passwordConfirm">@T["PasswordConfirmLabel"]</label>

                    <div error-for="ChangePasswordForm.PasswordConfirm" />
                    <input asp-for="ChangePasswordForm.PasswordConfirm" type="password" class="form-control" />
                </div>

                <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary">@T["UsersProfileChangePassword"]</button>
                </div>
            </form>
        }
        else
        {
            <form class="profile-form" asp-page-handler="SetPassword" method="post">
                @if (Model.SetPasswordForm.IsActive)
                {
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                }

                <div class="form-group">
                    <label asp-for="SetPasswordForm.Password" for="password">@T["PasswordLabel"]</label>

                    <div error-for="SetPasswordForm.Password" />
                    <input asp-for="SetPasswordForm.Password" type="password" class="form-control"  />
                </div>

                <div class="form-group">
                    <label asp-for="SetPasswordForm.PasswordConfirm" for="passwordConfirm">@T["ConfirmPasswordLabel"]</label>

                    <div error-for="SetPasswordForm.PasswordConfirm" />
                    <input asp-for="SetPasswordForm.PasswordConfirm" type="password" class="form-control" />
                </div>

                <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary">@T["UsersProfileSetPassword"]</button>
                </div>
            </form>
        }
    </div>
}

<script>
    var successMessage = document.getElementById('success');

    if (successMessage) {
        setTimeout(function () {
            successMessage.remove();
        }, 5000);
    }
</script>
