<!doctype html>
<html>
<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - Notifo</title>

    <link rel="stylesheet" href="@Url.Content("~/notifo-sdk.css")" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap">

    @if (IsSectionDefined("header"))
{
    @await RenderSectionAsync("header")
}

    <environment include="Development">
        <script type="text/javascript" src="@Url.Content("~/app.js")"></script>
    </environment>
</head>
<body class="notifo">
    <div class="notifo-inner">
        <h1>@ViewData["AppName"]</h1>

        <div class="notifo-modal-panel">
            <div class="notifo-modal-inner">
                @RenderBody()
        
                <a class="notifo-powered" href="https://notifo.io" target="_blank">
                    <span>Powered by Notifo</span>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 1153 412">
                        <circle fill="#ef3f5d" r="43.4" cy="77.2" cx="60.2"/>
                        <path fill="#675de2" d="M138.1 13.6c-12.3 0-24.1 1.9-35.3 5.2 15.7 11.5 26.3 29 28.9 49.1 2.1-.2 4.2-.6 6.3-.6 37.7 0 68.5 30.8 68.5 68.5v192h53.7v-192c.1-67.4-54.7-122.2-122.1-122.2zM15.9 134.2c0 .5-.1 1.1-.1 1.6v192h53.7v-179c-3.1.4-6.1.9-9.3.9-16.8 0-32-5.9-44.3-15.5zm72.9 218.3c0 27 22.2 49.2 49.3 49.2 27.1 0 49.2-22.1 49.2-49.2H88.8z"></path>
                        <path fill="#372f66" d="M532.4 13.5v209.3c0 58.3 47.5 105.8 105.8 105.8h37.1v-53.7h-37.1c-28.6 0-52.1-23.4-52.1-52.1V175h89.2v-53.7h-89.2V13.5h-53.7zm363.1 0c-58.3 0-105.8 47.5-105.8 105.8v209.3h53.7V175h52.1v-53.8h-52.1v-1.9c0-28.6 23.4-52.1 52.1-52.1V13.5zm-190.3.1v53.8H759V13.6h-53.8zM396.1 67.4c-58.3 0-105.8 47.5-105.8 105.8v49.6c0 58.3 47.5 105.8 105.8 105.8s105.8-47.5 105.8-105.8v-49.6c0-58.3-47.5-105.8-105.8-105.8zm636.1 0c-58.3 0-105.8 47.5-105.8 105.8v49.6c0 58.3 47.5 105.8 105.8 105.8S1138 281.2 1138 222.8v-49.6c0-58.3-47.5-105.8-105.8-105.8zm-636.1 53.8c28.6 0 52.1 23.4 52.1 52.1v49.6c0 28.6-23.4 52.1-52.1 52.1-28.7 0-52.1-23.4-52.1-52.1v-49.6c.1-28.7 23.5-52.1 52.1-52.1zm309.1 0v206.6h53.7V121.2h-53.7zm327 0c28.6 0 52.1 23.4 52.1 52.1v49.6c0 28.6-23.4 52.1-52.1 52.1-28.6 0-52.1-23.4-52.1-52.1v-49.6c0-28.7 23.5-52.1 52.1-52.1z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</body>
</html>